<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOW2z77p1mP0GbvFHGgkwSCx5dUm7ka7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1073180507599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-drdetails-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-drdetails-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073180507599:ios:998a39dadad5539cc226ba</string>
</dict>
</plist>